* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

:root {
  --bg-color: rgb(12, 5, 53);
  --text-color: #e2d3fd;
  --p-color: rgb(171, 171, 171);
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  align-items: center;
}
.color {
  background: linear-gradient(to left, #a855f7, #6366f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: 44px;
}

/*  */
body {
  margin: 0;
  padding: 0;
  background-color: #05010d;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.015) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(255, 255, 255, 0.015) 1px, transparent 1px),
    radial-gradient(circle at 10% 10%, #1b0d3a, #05010d 80%);
  background-size: 40px 40px, 40px 40px, 200% 200%;
  background-attachment: fixed;
  background-position: 0 0, 0 0, center center;
  color: white;
  height: 10000px;
}

/* loader */
.loader {
  padding-top: 180px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99999999;
  background-color: rgb(12, 5, 53);
  display: none; /* Loader */
}
.loader-btn {
  color: white;
  background-color: var(--bg-color);
  font-size: 28px;
  border-radius: 50%;
  box-shadow: 1px 4px 30px 4px rgba(99, 101, 241, 0.511);
  padding: 14px;
  margin: 10px;
  opacity: 0;
  transform: translateY(-50px);
  animation: slideUp 0.5s ease-out forwards;
  animation-delay: calc(0.2s * var(--i));
}
.loader-title {
  margin-top: 16px;
}
.d-flex-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-title {
  color: white;
  font-size: 74px;
  opacity: 0;
  transform: translateX(-200px);
  animation: lefttoRight 0.8s ease-out forwards;
}
.loader-title span {
  color: #a855f7;
}
.powered {
  color: white;
  font-size: 24px;
  margin-top: 24px;
  opacity: 0;
  transform: translateY(70px);
  animation: topTo 0.8s ease-out forwards;
}
.powered a {
  color: #a855f7;
}
.remove {
  opacity: 1;
  display: none; /*kdccccccckcdkkcd */
  animation: yoq 0.7s ease-in-out forwards;
}

@keyframes lefttoRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes topTo {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes yoq {
  to {
    opacity: 0;
    display: none;
  }
}

/* Header section */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 0;
  right: 0;
  padding: 11px;
  transition: all 0.5s;
  z-index: 999999999999;
}
nav h1 {
  background: linear-gradient(
    to right,
    #a855f7,
    #6366f1
  ); /* Фиолетовый к сине-фиолетовому */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.header-list {
  margin-left: 550px;
}
.header-list li {
  color: #e2d3fd;
  cursor: pointer;
  font-size: 20px;
  padding: 14px;
  transition: all 1s;
}
.header-list li:hover {
  background: linear-gradient(to right, #a855f7, #6366f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 3px solid #a855f7;
}

.active {
  background-color: rgb(3 0 20 / 0.5);
  opacity: 0.9;
}

.typing-text {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #fff;
  font-family: monospace;
  font-size: 24px;
  color: #cfcaca;
  font-size: 34px;
  animation: typing 3s steps(17) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 17ch;
  } /* Количество символов */
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.home-tite {
  color: white;
  font-size: 64px;
  margin-bottom: 14px;
  display: block;
  width: 320px;
  border-radius: 30px;
  cursor: pointer;
}
.home-tite span {
  background: linear-gradient(
    to right,
    #a855f7,
    #6366f1
  ); /* Фиолетовый к сине-фиолетовому */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.home-subtitle {
  color: white;
  margin-top: 14px;
  font-size: 18px;
  line-height: 28px;
}

.my-study p {
  color: rgb(227, 224, 224);
  border: 1px solid rgba(255, 255, 255, 0.334);
  border-radius: 30px;
  padding: 13px;
  margin: 14px 4px;
  transition: all 0.4s;
  font-size: 14px;
}
.my-study p:hover {
  background-color: rgba(255, 255, 255, 0.345);
  cursor: pointer;
}
.home-right {
  padding-left: 300px;
}
.home-right img {
  width: 400px;
  transition: all 0.3s;
}
.home-right img:hover {
  width: 410px;
  transform: rotate(10deg);
}
.home-btn {
  background-color: #0e0a1f; /* тёмный фон */
  color: #fff;
  padding: 14px 64px;
  border-radius: 12px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;

  box-shadow: 0 0 15px rgba(165, 105, 255, 0.3); /* фиолетовое свечение */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.home-btn:hover {
  animation: rightToLeft 1s ease forwards;
  background-color: black;
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.contact-button {
  position: relative;
  padding: 12px 64px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  margin: 10px;
  box-shadow: 0 0 20px 4px rgba(138, 43, 226, 0.3);
  transition: all 0.5s;
}
.contact-button i {
  margin-left: 5px;
}

.contact-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #892be27b;
  transition: left 0.5s ease;
  z-index: -1;
}

.contact-button:hover::before {
  left: 0;
}
.contact-button:hover {
  box-shadow: 0 0 25px 8px rgba(138, 43, 226, 0.5);
}
.home-bottom__btns {
  margin-top: 16px;
}
.home-bottom__btn {
  background-color: #0e0a1f;
  border: none;
  border-radius: 12px;
  padding: 12px;
  color: rgb(135, 134, 134);
  cursor: pointer;
  box-shadow: 0 0 20px 4px rgba(138, 43, 226, 0.3);
  transition: box-shadow 0.3s ease;
  margin: 10px;
  padding: 14px;
}
.home-bottom__btn a {
  color: rgb(196, 194, 194);
  font-size: 18px;
}

.home-bottom__btn:hover {
  box-shadow: 0 0 25px 8px rgba(138, 43, 226, 0.5);
}

/* About section */
#about {
  margin-top: 100px;
}
.about-title__div {
  text-align: center;
}
.about-title__div h1 {
  color: white;
  font-size: 44px;
}
.about-title__div h1 span {
  background: linear-gradient(to left, #a855f7, #6366f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.about-title__div p i {
  background: linear-gradient(to left, #a855f7, #6366f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  margin: 10px;
}
.about-title__div p {
  font-size: 20px;
  margin-top: 10px;
}

.about-content {
  width: 70%;
  margin-top: 100px;
}
.about-content h1 {
  font-size: 44px;
  font-weight: 700;
}
.about-content span {
  color: white !important;
  font-size: 44px;
}
.about-content p {
  color: rgb(171, 171, 171);
  margin-top: 10px;
  font-size: 20px;
  line-height: 28px;
}
.about-content__btn {
  border: 1px solid #a855f7;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  background-color: #a855f7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.about-image {
  margin-left: 200px;
  margin-top: 100px;
}

.about-image img {
  width: 350px;
  height: 350px !important;
  border-radius: 50%;
  transition: all 0.5s;
}

/* carusel */

.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.carousel-item {
  min-width: 100%;
  height: 100%;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev,
.next {
  position: absolute;
  top: 160%;
  transform: translateY(-50%);
  background-color: #892be25a;
  border-radius: 25px;
  color: white;
  border: none;
  font-size: 36px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 99999999999999999999;
  opacity: 0.8;

  margin: 0;
  width: 60px;
  height: 60px;
}

.prev {
  margin-left: -70px;
}
.next {
  margin-left: 1250px !important;
}

/* portfolio */
#portfolio-content {
  margin-top: 100px;
}
.portfolio-content {
  text-align: center;
}

.portfolio-content__subtitle {
  color: #bdbcbc;
  font-size: 20px;
  margin: 16px 0px 50px 0px;
}

/*  */
.tab-wrapper {
  border: 1px solid rgba(128, 128, 128, 0.275);
  border-radius: 10px;
  padding: 10px;
}
.tab {
  color: white;
  border-radius: 10px;
  padding: 20px 150px;
  margin-left: 15px;
  text-align: center;
  font-size: 19px;
  box-shadow: 0 0 150px 1px rgba(138, 43, 226, 0.5);
  transition: all 0.5s;
}
.tab:hover {
  background-color: #892be231;
}

/* card */
.cards-wrapper {
  margin-top: 40px;
}
.card {
  background-color: rgb(30 41 59 / 0.9);
  padding: 20px;
  border-radius: 10px;
  width: 540px;
}
.card-img {
  width: 500px;
  margin-bottom: 14px;
  transition: all 0.5s;
}
.card-img img {
  width: 100%;
  border-radius: 10px;
}
.card-content {
  color: white;
}
.card-content h1 {
  font-size: 28px;
  margin-bottom: 14px;
}
.subtitle {
  color: var(--p-color);
  line-height: 29px;
  font-size: 18px;
  margin-bottom: 10px;
}
.card-bg,
.sertificat-divs {
  display: flex;
  flex-wrap: wrap;
  gap: 40px; /* расстояние между карточками */
  max-width: 1340px;
  margin: 0 auto;
  justify-content: center;
}
.card:hover .card-img {
  transform: scale(105%);
}
.card:hover {
  border: 1px solid #a855f7;
}
.cards-wrapper {
  background-color: transparent !important;
}

/* tab */
.sertificat-img {
  width: 360px;
  margin-top: 40px;
}
.sertificat-img img {
  width: 100%;
  height: auto;
  display: block;
}

.content {
  display: none;
}
.content.active {
  display: flex;
  background-color: transparent !important;
}

.tab {
  cursor: pointer;
}

.tab.active {
  background-color: #892be25a;
}
.content-cards {
  margin-top: 40px;
}
.content-card {
  background-color: rgb(30 41 59 / 0.9);
  text-align: center;
  width: 150px;
  border-radius: 15px;
  font-size: 20px;
  padding-bottom: 14px;
  transition: all 0.5s;
  margin: 20px;
  margin-left: 35px;
}
.content-card:hover {
  background-color: rgb(35, 44, 58);
  transform: scale(103%);
}
.content-card:hover .content-cards__img img {
  box-shadow: 0 0 50px 1px rgba(100, 23, 226, 100);
}
.content-cards__img {
  width: 100px;
  padding: 20px;
  margin-left: 20px;
}
.content-cards__img img {
  width: 100%;
  transition: all 0.5s;
}

/* contact section */
#contact {
  margin-top: 100px;
}
.contact-text {
  text-align: center;
}

.contact-form {
  max-width: 600px;
  width: 100%;
  background-color: rgba(30, 41, 59, 0.495);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 12px;
  backdrop-filter: blur(6px);
}

.input-box {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  padding: 14px 16px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #ccc;
}

.input-box.textarea {
  align-items: flex-start;
}

.input-box input,
.input-box textarea {
  background-color: rgb(30 41 59 / 0.9);
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  height: 24px;
  padding-left: 10px;
  font-size: 16px;
  resize: none;
}
.input-box input:focus .input-box {
  border: 1px solid #a855f7;
}

.input-box textarea {
  height: 100px;
}

.icon {
  font-size: 18px;
}

.send-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #8e6eff, #a278ff);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.send-btn:hover {
  opacity: 0.9;
}

.response {
  position: absolute;
  background-color: rgb(30 41 59 / 0.9);
  padding: 30px;
  box-shadow: 0 0 20px 4px rgba(138, 43, 226, 0.3);
  transition: all 0.5s;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
  margin-top: -500px;
  margin-left: 500px;
  display: none;
}
.sucses {
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: green;
}

.status-message.error {
  background-color: #dc3545; /* красный для ошибок */
}
.coment {
  background-color: rgba(30, 41, 59, 0.495);
  border-radius: 20px;
  padding: 24px;
  width: 600px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  margin-left: 24px;
  height: auto;
}

.comment-box {
  background-color: rgb(255 255 255 / 0.1);
  border-radius: 20px;
  padding: 14px;
}

.comment-box h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #bbb;
}

.comment-box h2 span {
  color: #8e6eff;
}

.comment-form label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
  color: #aaa;
}

.comment-form label span {
  color: #ff4d6d;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  background: #1d1f2e;
  border: none;
  border-radius: 10px;
  padding: 12px 15px;
  color: #fff;
  margin-top: 5px;
  font-size: 14px;
}

.comment-form textarea {
  resize: none;
}

.file-upload {
  margin-top: 10px;
}

.file-label {
  display: block;
  border: 2px solid #8e6eff;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  color: #8e6eff;
  cursor: pointer;
  transition: 0.3s;
}

.file-label:hover {
  background-color: rgba(142, 110, 255, 0.1);
}

.file-hint {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
  display: block;
  text-align: center;
}

.post-btn {
  margin-top: 25px;
  width: 100%;
  background: linear-gradient(to right, #8e6eff, #a278ff);
  border: none;
  color: white;
  padding: 14px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.post-btn:hover {
  opacity: 0.9;
}

.photo-upload {
  margin-top: 20px;
}

.photo-label {
  display: block;
  color: #ccc;
  margin-bottom: 10px;
  font-weight: 600;
}

.photo-label small {
  color: #888;
  font-weight: 400;
}

.photo-trigger {
  display: inline-block;
  padding: 12px 20px;
  background: #222436;
  border-radius: 10px;
  border: 2px solid #8e6eff;
  color: #8e6eff;
  cursor: pointer;
  transition: 0.3s;
}

.photo-trigger:hover {
  background: rgba(142, 110, 255, 0.1);
}

.photo-preview {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px;
  background: #202437;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}

.photo-preview img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.remove-photo {
  background: #b04343;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.remove-photo:hover {
  background: #d15757;
}

.hidden {
  display: none;
}

.comentariya-div__img {
  width: 50px;
  height: 50px !important;
}
.comentariya-div__img img {
  width: 100%;
  border-radius: 50%;
}

.all-coment {
    margin-top: 24px;
    overflow-y: hidden;
    height: 300px;
    overflow-y: auto;
}

.comentariya-div {
    background-color: rgb(255 255 255 / 0.05);
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 18px;
    border: 1px solid rgba(128, 128, 128, 0.425);
    transition: all 0.5s;
}
.comentariya-div:hover {
    background-color: rgba(255, 255, 255, 0.138);
    transform: translateY(-5px);

}
.coment-name {
    color: white;
    font-size: 20px;
}
.time {
    margin-left: 320px;
    font-size: 16px;
    color: var(--p-color);
}